@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(45, 45, 45);
}

h1 {
  background: -webkit-linear-gradient(#eee, #18bb38);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
