.legend {
  position: relative;
  height: 1.25rem; /* Adjust the height as needed */
}

.legendItem {
  position: absolute;
  top: 0;
  text-align: center;
  font-size: 0.625rem; /* Adjust the font size as needed */
  line-height: 1.25rem; /* Adjust the line height as needed */
}

@media screen and (max-width: 800px) {
  .legend {
    position: relative;
    height: 1.25rem; /* Adjust the height as needed */
    left: -0.125rem;
  }
}
