* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-container {
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 9%,
    rgba(34, 93, 195, 1) 100%
  );
}

.menu {
  height: 100%;
  transition: 0.3s;
  background: #ffffff12;
  padding: 20px 20px 20px 0;
  width: 85px;
  box-shadow: 8px 0px 9px 0px #00000014;
  backdrop-filter: blur(5px);
  min-height: 100vh;
}

.menu:hover {
  width: 260px;
}

.menu:hover li span:nth-child(2) {
  display: block;
}

.menu-content li {
  list-style: none;
  border-radius: 0px 50px 50px 0;
  transition: 0.3s;
  margin-bottom: 20px;
  padding-left: 20px;
}

.menu-content li:hover {
  background: #0c0c0c;
}

.menu-content li span:nth-child(2) {
  display: none;
}

a {
  text-decoration: none;
  color: rgb(213, 213, 213);
  display: flex;
  align-items: center;
  font-family: "calibri";
}

.material-symbols-outlined {
  font-size: 25px;
  margin-right: 10px;
  background: #0c0c0c;
  border-radius: 50%;
  padding: 10px;
}
